.cnotes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.heading {
    margin: 2em;
}

.cnotes-wrapper h2 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2rem;
}

.cnotes-iwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cnotes-iwrapper h3,
.cnotes-iwrapper h4 {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.cnotes-iwrapper h3 {
    font-weight: 500;
    color: #444;
    font-size: 1rem;
}

.cnotes-iwrapper h4 {
    font-weight: 400;
    color: #666;
    font-size: 0.9rem;
}

.cnotes-iwrapper button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.cnotes-iwrapper button:hover {
    background-color: #0056b3;
}